@using Blazing.Common
@using Microsoft.JSInterop
@inherits ComponentControlBase
@implements IAsyncDisposable

<li class="mb-1">
    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 @(IsExpanded ? "" : "collapsed")"
            type="button"
            @onclick="Toggle"
            aria-expanded="@(IsExpanded ? "true" : "false")">
        <span class="nav-menu-group-title">@Title.ToUpperInvariant()</span>
    </button>
    <div @ref="_contentRef" class="collapse @(IsExpanded ? "show" : "")" id="@CollapseId">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            @ChildContent
        </ul>
    </div>
</li>
