@inherits ComponentControlBase

<div class="@GetClasses()" @attributes="AdditionalAttributes">
    <h2 class="accordion-header">
        <button class="@GetButtonClasses()" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#@CollapseId"
                aria-expanded="@IsExpanded.ToString().ToLower()"
                aria-controls="@CollapseId">
            @if (HeaderIcon is not null)
            {
                <span class="@HeaderIcon me-2"></span>
            }
            @Header
        </button>
    </h2>
    <div id="@CollapseId" 
         class="@GetCollapseClasses()" 
         data-bs-parent="#@ParentId">
        <div class="accordion-body">
            @Body
        </div>
    </div>
</div>
