@if (_breadcrumbs.Count > 1)
{
    <nav aria-label="breadcrumb" class="@AdditionalClasses">
        <ol class="breadcrumb @BreadcrumbClasses">
            @foreach (var (crumb, index) in _breadcrumbs.Select((x, i) => (x, i)))
            {
                @if (index == _breadcrumbs.Count - 1)
                {
                    <li class="breadcrumb-item active" aria-current="page">@crumb.Text</li>
                }
                else
                {
                    <li class="breadcrumb-item">
                        <a href="@crumb.Url">@crumb.Text</a>
                    </li>
                }
            }
        </ol>
    </nav>
}
